.contacts{
    margin-top: 150px;
    text-align: center;
    p{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #000000;
        margin-top: 22px;
    }
    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 92px;
    }
    .maill{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        color: #000000;
    }
}